In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

## EDA

### 1. Оценить количество фильмов, пользователей и оценок:

In [2]:
users = pd.read_csv('ml-1m/users.dat', sep='::', names=['user', 'gender', 'age', 'occupation', 'zip'])

/Users/andrewlarin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [3]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040 entries, 0 to 6039
Data columns (total 5 columns):
user          6040 non-null int64
gender        6040 non-null object
age           6040 non-null int64
occupation    6040 non-null int64
zip           6040 non-null object
dtypes: int64(3), object(2)
memory usage: 236.0+ KB

In [4]:
users.head(5)

   user gender  age  occupation    zip
0     1      F    1          10  48067
1     2      M   56          16  70072
2     3      M   25          15  55117
3     4      M   45           7  02460
4     5      M   25          20  55455

In [5]:
ratings = pd.read_csv('ml-1m/ratings.dat', sep='::', names=['user', 'movie', 'rating', 'time'])

/Users/andrewlarin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [6]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
user      1000209 non-null int64
movie     1000209 non-null int64
rating    1000209 non-null int64
time      1000209 non-null int64
dtypes: int64(4)
memory usage: 30.5 MB

In [7]:
ratings.head(5)

   user  movie  rating       time
0     1   1193       5  978300760
1     1    661       3  978302109
2     1    914       3  978301968
3     1   3408       4  978300275
4     1   2355       5  978824291

In [8]:
movies = pd.read_csv('ml-1m/movies.dat', sep='::', names=['movie', 'title', 'genre'])

/Users/andrewlarin/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [9]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
movie    3883 non-null int64
title    3883 non-null object
genre    3883 non-null object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [10]:
movies.head(5)

   movie                               title                         genre
0      1                    Toy Story (1995)   Animation|Children's|Comedy
1      2                      Jumanji (1995)  Adventure|Children's|Fantasy
2      3             Grumpier Old Men (1995)                Comedy|Romance
3      4            Waiting to Exhale (1995)                  Comedy|Drama
4      5  Father of the Bride Part II (1995)                        Comedy

#### Как видно, жанры представленны в виде строки, что не очень удобно для поиска. Преобразуем это свойство в другой тип данных - множество:

In [11]:
movies['genre'] = movies['genre'].map(lambda x: set([x.strip() for x in x.split('|')]))

In [12]:
movies.head(5)

   movie                               title                             genre
0      1                    Toy Story (1995)   {Comedy, Children's, Animation}
1      2                      Jumanji (1995)  {Children's, Adventure, Fantasy}
2      3             Grumpier Old Men (1995)                 {Romance, Comedy}
3      4            Waiting to Exhale (1995)                   {Drama, Comedy}
4      5  Father of the Bride Part II (1995)                          {Comedy}

### 2. Оценить распределения (предлагается построить распределения количества оценок по фильмам и пользователям и увидеть т.н. "длинные хвосты" в распределениях):

#### Когда примерно стало понятно с какими данными предстоит работать, соединим их в один датасет, чтобы можно было провести более подробное исследование:

In [13]:
movie_lens = pd.merge(pd.merge(ratings, users), movies)

In [14]:
movie_lens.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000209 entries, 0 to 1000208
Data columns (total 10 columns):
user          1000209 non-null int64
movie         1000209 non-null int64
rating        1000209 non-null int64
time          1000209 non-null int64
gender        1000209 non-null object
age           1000209 non-null int64
occupation    1000209 non-null int64
zip           1000209 non-null object
title         1000209 non-null object
genre         1000209 non-null object
dtypes: int64(6), object(4)
memory usage: 83.9+ MB

In [15]:
movie_lens.head(5)

,user,movie,rating,time,gender,age,occupation,zip,title,genre
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),{Drama}
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),{Drama}
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),{Drama}
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),{Drama}
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),{Drama}

In [16]:
ratings_total = movie_lens.groupby(['movie', 'title'])['movie'] \
    .agg(['count']) \
    .reset_index()
ratings_total.head(10)

   movie                               title  count
0      1                    Toy Story (1995)   2077
1      2                      Jumanji (1995)    701
2      3             Grumpier Old Men (1995)    478
3      4            Waiting to Exhale (1995)    170
4      5  Father of the Bride Part II (1995)    296
5      6                         Heat (1995)    940
6      7                      Sabrina (1995)    458
7      8                 Tom and Huck (1995)     68
8      9                 Sudden Death (1995)    102
9     10                    GoldenEye (1995)    888

#### Посмотрим распределение:

In [17]:
ratings_total['rounded_count'] = ratings_total['count'].map(lambda x: (x // 100) * 100)

In [18]:
ratings_total.head(10)

   movie                               title  count  rounded_count
0      1                    Toy Story (1995)   2077           2000
1      2                      Jumanji (1995)    701            700
2      3             Grumpier Old Men (1995)    478            400
3      4            Waiting to Exhale (1995)    170            100
4      5  Father of the Bride Part II (1995)    296            200
5      6                         Heat (1995)    940            900
6      7                      Sabrina (1995)    458            400
7      8                 Tom and Huck (1995)     68              0
8      9                 Sudden Death (1995)    102            100
9     10                    GoldenEye (1995)    888            800

In [19]:
ratings_total['rounded_count'].value_counts(normalize=True)

0       0.455208
100     0.160011
200     0.099298
300     0.070426
400     0.048300
500     0.032110
600     0.027253
700     0.022126
800     0.016190
900     0.013222
1000    0.011333
1100    0.009174
1300    0.007016
1200    0.005666
1400    0.004587
1700    0.003238
1500    0.002698
1600    0.002428
2200    0.001889
2500    0.001619
1900    0.000809
2000    0.000809
2100    0.000809
2300    0.000809
2600    0.000809
2900    0.000540
1800    0.000540
2400    0.000540
2800    0.000270
3400    0.000270
Name: rounded_count, dtype: float64

Как видно, почти половина фильмов имеет меньше 100 голосов зрителей. 16% - от 100 до 200 голосов, в остальном, распределение очень неравномерно.

### 3. Посмотреть на смещение оценок, увидеть сколько пользователей занижают оценки и завышают оценки (посмотреть разницу со средним значением, например):

In [20]:
vote_average = movie_lens['rating'].mean()
vote_average

3.581564453029317

In [21]:
def compare_mean_rating(x):
    diff = x - vote_average
    if diff > 0.5:
        return 1
    elif diff < -0.5:
        return -1
    else:
        return 0

In [22]:
users_average = movie_lens.groupby(['user'])['rating'] \
    .agg(['mean']) \
    .reset_index()
users_average['compare_mean_rating'] = users_average['mean'].map(compare_mean_rating)
users_average.head(5)

   user      mean  compare_mean_rating
0     1  4.188679                    1
1     2  3.713178                    0
2     3  3.901961                    0
3     4  4.190476                    1
4     5  3.146465                    0

In [23]:
users_average['compare_mean_rating'].value_counts(normalize=True)

 0    0.732616
 1    0.186258
-1    0.081126
Name: compare_mean_rating, dtype: float64

Как видно, большинство пользователей ставит оценку в пределах +- 0.5 от средней оценки всего датасета, еще 18 процентов склонны завышать оценку и только 8 процентов - занижать.

### 4. Оценить средние оценки по фильмам и по пользователям:

#### Не очень понятно что здесь имеется ввиду, поэтому объединю его со следующим пунктом:

### 5. Выбрать критерий, показывающий, что фильм нравится всем, или не нравится никому, и вывести топ фильмов из этих списков. Знаете ли вы эти фильмы, согласны ли с оценками?

#### Чтобы учесть успешность/неуспешность фильма надо учитывать 2 параметра:
#### 1) Средний рейтинг фильма;
#### 2) Количество проголосовавших за этот фильм;
#### Учитывать пользователей занижающих или завышающих рейтинг мы не будем, т.к. из количество не очень велико. Но при этом будем учитывать минимальное количество голосов, для которых можно считать оценку, так как очень много фильмов с малым количеством голосов и они могут сильно исказить истинную картину.
#### Сама же формула выглядит следующим образом:

<p>взвешенный вес (WR) = (v / (v+m)) * R + (m / (v+m)) * C</p>
<p></p>
<p>где:</p>
<ul>
<li>R = Средний рейтинг фильма</li>
<li>v = Количество проголосовавших за этот фильм</li>
<li>m = Минимальное количество голосов для оценка</li>
<li>C = Средний рейтинг для всей выборки</li>
</ul>

In [24]:
del users_average

In [25]:
ratings_total = ratings_total.rename(columns={'count': 'votes_count'})[['movie', 'votes_count']]

In [26]:
ratings_average = movie_lens.groupby(['movie'])['rating'] \
    .agg(['mean']) \
    .reset_index()

In [27]:
ratings_average = ratings_average.rename(columns={'mean': 'rating_average'})[['movie', 'rating_average']]

In [28]:
movie_ratings = pd.merge(pd.merge(movies, ratings_total), ratings_average)

In [29]:
movie_ratings.head(5)

,movie,title,genre,votes_count,rating_average
0,1,Toy Story (1995),"{Comedy, Children's, Animation}",2077,4.146846
1,2,Jumanji (1995),"{Children's, Adventure, Fantasy}",701,3.201141
2,3,Grumpier Old Men (1995),"{Romance, Comedy}",478,3.016736
3,4,Waiting to Exhale (1995),"{Drama, Comedy}",170,2.729412
4,5,Father of the Bride Part II (1995),{Comedy},296,3.006757

#### Средний рейтинг по выборке мы уже посчитали выше:

In [30]:
C = vote_average

#### Минимальным количеством голосов будет 0,75-квантиль, т.е. фильм должен иметь больше голосов чем 75% фильмов в выборке:

In [31]:
m = ratings_total['votes_count'].quantile(0.75)
m

350.0

In [32]:
def weighted_rating(x):
    v = x['votes_count']
    R = x['rating_average']
    return (v / (v + m) * R) + (m / (m + v) * C)

In [33]:
del ratings_average

In [34]:
movie_ratings['wr'] = movie_ratings.apply(weighted_rating, axis=1)

In [35]:
movie_ratings.head(5)

,movie,title,genre,votes_count,rating_average,wr
0,1,Toy Story (1995),"{Comedy, Children's, Animation}",2077,4.146846,4.065327
1,2,Jumanji (1995),"{Children's, Adventure, Fantasy}",701,3.201141,3.327828
2,3,Grumpier Old Men (1995),"{Romance, Comedy}",478,3.016736,3.255492
3,4,Waiting to Exhale (1995),"{Drama, Comedy}",170,2.729412,3.302976
4,5,Father of the Bride Part II (1995),{Comedy},296,3.006757,3.318185

#### Выведем 15 топ фильмов из списка:

In [36]:
movie_ratings.sort_values('wr', ascending=False)[['title', 'genre', 'votes_count', 'rating_average', 'wr']] \
    .head(15)

,title,genre,votes_count,rating_average,wr
309,"Shawshank Redemption, The (1994)",{Drama},2227,4.554558,4.422409
802,"Godfather, The (1972)","{Action, Drama, Crime}",2223,4.524966,4.396637
513,Schindler's List (1993),"{Drama, War}",2304,4.510417,4.387923
1108,Raiders of the Lost Ark (1981),"{Action, Adventure}",2514,4.477725,4.368208
49,"Usual Suspects, The (1995)","{Thriller, Crime}",1783,4.517106,4.363595
253,Star Wars: Episode IV - A New Hope (1977),"{Action, Fantasy, Adventure, Sci-Fi}",2991,4.453694,4.362331
2557,"Sixth Sense, The (1999)",{Thriller},2459,4.406263,4.303506
713,Dr. Strangelove or: How I Learned to Stop Worr...,"{Sci-Fi, War}",1367,4.449890,4.272887
851,Casablanca (1942),"{Drama, Romance, War}",1669,4.412822,4.268721
579,"Silence of the Lambs, The (1991)","{Drama, Thriller}",2578,4.351823,4.259750
1104,One Flew Over the Cuckoo's Nest (1975),{Drama},1725,4.390725,4.254240
843,Rear Window (1954),"{Mystery, Thriller}",1050,4.476190,4.252534
1848,Saving Private Ryan (1998),"{Action, Drama, War}",2653,4.337354,4.249267
2651,American Beauty (1999),"{Drama, Comedy}",3428,4.317386,4.249219
1066,"Wrong Trousers, The (1993)","{Comedy, Animation}",882,4.507937,4.244763

В общем и целом, с рейтингом я согласен, хотя не все фильмы мне знакомы, но поискав некоторые из них в гугле, оказалось, что рейтинги у них довольно высокие.

### 6. Выбрать лучшие фильмы:

#### Для того, чтобы выбрать лучше фильмы, повысим минимальное количеством голосов до 0,99-квантиль, т.е. оставим 1% самых популярных фильмов:

In [37]:
m = ratings_total['votes_count'].quantile(0.99)
m

1784.8999999999996

In [38]:
movie_ratings['wr_99'] = movie_ratings.apply(weighted_rating, axis=1)

In [39]:
movie_ratings.sort_values('wr_99', ascending=False)[['title', 'genre', 'votes_count', 'rating_average', 'wr_99']] \
    .head(15)

,title,genre,votes_count,rating_average,wr_99
253,Star Wars: Episode IV - A New Hope (1977),"{Action, Fantasy, Adventure, Sci-Fi}",2991,4.453694,4.127753
309,"Shawshank Redemption, The (1994)",{Drama},2227,4.554558,4.121672
1108,Raiders of the Lost Ark (1981),"{Action, Adventure}",2514,4.477725,4.105640
513,Schindler's List (1993),"{Drama, War}",2304,4.510417,4.104951
802,"Godfather, The (1972)","{Action, Drama, Crime}",2223,4.524966,4.104827
2651,American Beauty (1999),"{Drama, Comedy}",3428,4.317386,4.065440
2557,"Sixth Sense, The (1999)",{Thriller},2459,4.406263,4.059411
49,"Usual Suspects, The (1995)","{Thriller, Crime}",1783,4.517106,4.049086
579,"Silence of the Lambs, The (1991)","{Drama, Thriller}",2578,4.351823,4.036704
1848,Saving Private Ryan (1998),"{Action, Drama, War}",2653,4.337354,4.033379
1106,Star Wars: Episode V - The Empire Strikes Back...,"{Action, Drama, War, Adventure, Sci-Fi}",2990,4.292977,4.027044
2374,"Matrix, The (1999)","{Action, Sci-Fi, Thriller}",2590,4.315830,4.016260
1107,"Princess Bride, The (1987)","{Action, Romance, Comedy, Adventure}",2318,4.303710,3.989552
851,Casablanca (1942),"{Drama, Romance, War}",1669,4.412822,3.983246
1104,One Flew Over the Cuckoo's Nest (1975),{Drama},1725,4.390725,3.979240

Как мне кажется, рейтинг получился вполне содержательный, хотя "Звездные войны" на первом месте выглядят немного странно.

## Создание рекомендательной системы

### 1. Построить рекомендательную систему с помощью библиотеки surprise (или другой, по желанию). Применить подбор параметров модели на сетке, оценить качество полученной модели по выбранной вами метрике:

In [51]:
from surprise import Reader, Dataset, SVD

In [57]:
from surprise.model_selection import GridSearchCV

In [53]:
reader = Reader()

In [54]:
movie_data = Dataset.load_from_df(movie_lens[['user', 'movie', 'rating']], reader)

#### При построении модели будем использовать алгоритм Singular Value Decomposition (SVD) и подборем параметры модели на сетке. В качестве метрики возьмем среднюю квадратичную ошибку RMSE:

In [58]:
# cross_validate(algo, movie_data, measures=['RMSE', 'MAE'], cv=5, verbose=True)
param_grid = {'n_epochs': [5, 10], 'lr_all': [0.002, 0.005], 'reg_all': [0.4, 0.6]}
gs = GridSearchCV(SVD, param_grid, measures=['rmse'], cv=3)

In [59]:
gs.fit(movie_data)

In [61]:
gs.best_score['rmse']

0.92988692197353195

In [62]:
gs.best_params['rmse']

{'lr_all': 0.005, 'n_epochs': 10, 'reg_all': 0.4}

In [63]:
algo = gs.best_estimator['rmse']

In [64]:
algo.fit(movie_data.build_full_trainset())

Мы получили среднюю квадратичную ошибку RMSE в среднем равную 0.92989, что довольно неплохо.

### 2. Создать нового пользователя (имитируем регистрацию нового пользователя в системе). Получить рекомендации для нового пользователя:

#### Я думаю, что для "холодного старта" лучше подойдет рекомендации по фильмам основанные на взвешенных весах (WR), а чтобы немного разнобразить выборку, можно распределить фильмы по жанрам, например, для каждого анра не более 2-х фильмов:

In [104]:
from collections import defaultdict

FILMS_PER_GENRE = 3

def separate_movies_by_genre(df, limit=1000):
    visited_genres = set()
    movies = defaultdict(list)
    for index, row in df[:limit].iterrows():
        untouched_genres = row['genre'] - visited_genres
        if not untouched_genres:
            continue
        genre = untouched_genres.pop()
        movies[genre].append(row['title'])
        if len(movies[genre]) == FILMS_PER_GENRE:
            visited_genres.add(genre)
    return movies

In [108]:
best_movies = separate_movies_by_genre(movie_ratings.sort_values('wr_99', ascending=False)[['title', 'genre']])

In [109]:
print('Great Movies I Recommend you should watch at any cost:')
for k, v in best_movies.items():
    print('{}:'.format(k))
    for m in v:
        print('\t{}'.format(m))

Great Movies I Recommend you should watch at any cost:
Mystery:
	L.A. Confidential (1997)
	Rear Window (1954)
	Chinatown (1974)
Romance:
	Princess Bride, The (1987)
	Casablanca (1942)
	Shakespeare in Love (1998)
Sci-Fi:
	Star Wars: Episode V - The Empire Strikes Back (1980)
	Matrix, The (1999)
	Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)
Fantasy:
	E.T. the Extra-Terrestrial (1982)
	Big (1988)
	Willy Wonka and the Chocolate Factory (1971)
Horror:
	Alien (1979)
	Young Frankenstein (1974)
	Psycho (1960)
Film-Noir:
	Blade Runner (1982)
	Maltese Falcon, The (1941)
	Manchurian Candidate, The (1962)
Crime:
	Fargo (1996)
	Pulp Fiction (1994)
	Godfather: Part II, The (1974)
Drama:
	Shawshank Redemption, The (1994)
	Schindler's List (1993)
	American Beauty (1999)
Children's:
	Wizard of Oz, The (1939)
	Toy Story (1995)
	Toy Story 2 (1999)
Musical:
	This Is Spinal Tap (1984)
	Singin' in the Rain (1952)
	Blues Brothers, The (1980)
Animation:
	Close Shave, A (1995)
	Wallace & Gromit: The Best of Aardman Animation (1996)
	Grand Day Out, A (1992)
Western:
	Butch Cassidy and the Sundance Kid (1969)
	Unforgiven (1992)
	Blazing Saddles (1974)
Action:
	Star Wars: Episode IV - A New Hope (1977)
	Raiders of the Lost Ark (1981)
	Godfather, The (1972)
Comedy:
	Monty Python and the Holy Grail (1974)
	Wrong Trousers, The (1993)
	Being John Malkovich (1999)
Documentary:
	Hoop Dreams (1994)
	Roger & Me (1989)
	Crumb (1994)
War:
	Saving Private Ryan (1998)
	Braveheart (1995)
	Forrest Gump (1994)
Thriller:
	Sixth Sense, The (1999)
	Usual Suspects, The (1995)
	Silence of the Lambs, The (1991)
Adventure:
	Star Wars: Episode VI - Return of the Jedi (1983)
	Indiana Jones and the Last Crusade (1989)
	Lawrence of Arabia (1962)

По-моему, получились вполне себе неплохие рекомендации для нового пользователя!

### 3. Поставьте оценку какому-нибудь фильму (который вы знаете и можете поставить оценку) и получите рекомендации, насколько они качественные по вашим ощущениям? Сделайте это для фильма с негативной оценкой и для фильма с позитивной оценкой:

In [111]:
# Последний пользователь в списке
users.sort_values('user', ascending=False).head(1)

      user gender  age  occupation    zip
6039  6040      M   25           6  11106

In [144]:
NEW_USER_ID = 6041

new_user = pd.DataFrame([[NEW_USER_ID, 'M', 32, 6, 123456]],
                        columns=['user', 'gender', 'age', 'occupation', 'zip'])

In [127]:
users.append(new_user).tail(5)

      user gender  age  occupation     zip
6036  6037      F   45           1   76006
6037  6038      F   56           1   14706
6038  6039      F   45           0   01060
6039  6040      M   25           6   11106
0     6041      M   32           6  123456

In [137]:
def filter_by_genre(df, genres, limit=100):
    movies = []
    for index, row in df[:limit].iterrows():
        if row['genre'] <= genres:
            movies.append((row['movie'], row['title'], row['genre'], row['rating_average']))
    return movies

In [138]:
good_genres = {'Sci-Fi', 'Mystery', 'War', 'Thriller', 'Action', 'Adventure', 'Drama', 'Crime'}
for m in filter_by_genre(movie_ratings.sort_values('wr_99', ascending=False), good_genres):
    print(m)

(318, 'Shawshank Redemption, The (1994)', set(['Drama']), 4.554557700942973)
(1198, 'Raiders of the Lost Ark (1981)', set(['Action', 'Adventure']), 4.477724741447892)
(527, "Schindler's List (1993)", set(['Drama', 'War']), 4.510416666666667)
(858, 'Godfather, The (1972)', set(['Action', 'Drama', 'Crime']), 4.524966261808367)
(2762, 'Sixth Sense, The (1999)', set(['Thriller']), 4.406262708418057)
(50, 'Usual Suspects, The (1995)', set(['Thriller', 'Crime']), 4.517106001121705)
(593, 'Silence of the Lambs, The (1991)', set(['Drama', 'Thriller']), 4.3518231186966645)
(2028, 'Saving Private Ryan (1998)', set(['Action', 'Drama', 'War']), 4.337353938937053)
(1196, 'Star Wars: Episode V - The Empire Strikes Back (1980)', set(['Action', 'Drama', 'War', 'Adventure', 'Sci-Fi']), 4.292976588628763)
(2571, 'Matrix, The (1999)', set(['Action', 'Sci-Fi', 'Thriller']), 4.315830115830116)
(1193, "One Flew Over the Cuckoo's Nest (1975)", set(['Drama']), 4.390724637681159)
(608, 'Fargo (1996)', set(['Drama', 'Thriller', 'Crime']), 4.254675686430561)
(296, 'Pulp Fiction (1994)', set(['Drama', 'Crime']), 4.278212805158913)
(1221, 'Godfather: Part II, The (1974)', set(['Action', 'Drama', 'Crime']), 4.357565011820331)
(110, 'Braveheart (1995)', set(['Action', 'Drama', 'War']), 4.234957020057307)
(750, 'Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963)', set(['Sci-Fi', 'War']), 4.4498902706656915)
(908, 'North by Northwest (1959)', set(['Drama', 'Thriller']), 4.38403041825095)
(1213, 'GoodFellas (1990)', set(['Drama', 'Crime']), 4.275196137598069)
(904, 'Rear Window (1954)', set(['Mystery', 'Thriller']), 4.476190476190476)
(923, 'Citizen Kane (1941)', set(['Drama']), 4.388888888888889)
(1240, 'Terminator, The (1984)', set(['Action', 'Sci-Fi', 'Thriller']), 4.152049571020019)
(1225, 'Amadeus (1984)', set(['Drama']), 4.251808972503618)
(1207, 'To Kill a Mockingbird (1962)', set(['Drama']), 4.425646551724138)
(589, 'Terminator 2: Judgment Day (1991)', set(['Action', 'Sci-Fi', 'Thriller']), 4.058512646281616)
(1250, 'Bridge on the River Kwai, The (1957)', set(['Drama', 'War']), 4.386993603411514)
(1704, 'Good Will Hunting (1997)', set(['Drama']), 4.176356589147287)
(457, 'Fugitive, The (1993)', set(['Action', 'Thriller']), 4.103258145363409)
(1200, 'Aliens (1986)', set(['Action', 'Sci-Fi', 'Thriller', 'War']), 4.125824175824176)
(3578, 'Gladiator (2000)', set(['Action', 'Drama']), 4.106029106029106)
(1291, 'Indiana Jones and the Last Crusade (1989)', set(['Action', 'Adventure']), 4.133292383292384)
(1208, 'Apocalypse Now (1979)', set(['Drama', 'War']), 4.243197278911564)
(1036, 'Die Hard (1988)', set(['Action', 'Thriller']), 4.121848739495798)
(1204, 'Lawrence of Arabia (1962)', set(['Adventure', 'War']), 4.401925391095066)
(1233, 'Boat, The (Das Boot) (1981)', set(['Action', 'Drama', 'War']), 4.302697302697303)
(2019, 'Seven Samurai (The Magnificent Seven) (Shichinin no samurai) (1954)', set(['Action', 'Drama']), 4.560509554140127)
(1358, 'Sling Blade (1996)', set(['Drama', 'Thriller']), 4.208156329651657)
(111, 'Taxi Driver (1976)', set(['Drama', 'Thriller']), 4.183870967741935)
(924, '2001: A Space Odyssey (1968)', set(['Drama', 'Mystery', 'Sci-Fi', 'Thriller']), 4.068764568764569)
(1242, 'Glory (1989)', set(['Action', 'Drama', 'War']), 4.193345323741007)
(3147, 'Green Mile, The (1999)', set(['Drama', 'Thriller']), 4.154664484451718)
(903, 'Vertigo (1958)', set(['Mystery', 'Thriller']), 4.27292817679558)
(1089, 'Reservoir Dogs (1992)', set(['Thriller', 'Crime']), 4.13582208101668)
(1610, 'Hunt for Red October, The (1990)', set(['Action', 'Thriller']), 4.052058111380146)
(1262, 'Great Escape, The (1963)', set(['Adventure', 'War']), 4.376436781609195)
(2959, 'Fight Club (1999)', set(['Drama']), 4.077188146106134)
(1222, 'Full Metal Jacket (1987)', set(['Action', 'Drama', 'War']), 4.110845295055821)
(953, "It's a Wonderful Life (1946)", set(['Drama']), 4.299039780521262)
(47, 'Seven (Se7en) (1995)', set(['Thriller', 'Crime']), 4.106420404573439)
(150, 'Apollo 13 (1995)', set(['Drama']), 4.073541167066347)
(1206, 'Clockwork Orange, A (1971)', set(['Sci-Fi']), 4.0781122864117165)
(1961, 'Rain Man (1988)', set(['Drama']), 4.053383458646617)
(1090, 'Platoon (1986)', set(['Drama', 'War']), 4.090113735783027)
(3471, 'Close Encounters of the Third Kind (1977)', set(['Drama', 'Sci-Fi']), 4.0144727773949)
(1299, 'Killing Fields, The (1984)', set(['Drama', 'War']), 4.248633879781421)

In [143]:
bad_genres = {'Comedy', 'Sci-Fi', 'Mystery', 'War', 'Thriller', 'Action', 'Adventure', 'Drama', 'Crime', 'Romance'}
for m in filter_by_genre(movie_ratings.sort_values('wr', ascending=True), bad_genres, limit=300):
    print(m)

(3593, 'Battlefield Earth (2000)', set(['Action', 'Sci-Fi']), 1.6111111111111112)
(1556, 'Speed 2: Cruise Control (1997)', set(['Action', 'Romance', 'Thriller']), 1.8719346049046321)
(1562, 'Batman & Robin (1997)', set(['Action', 'Adventure', 'Crime']), 2.257425742574257)
(160, 'Congo (1995)', set(['Action', 'Mystery', 'Adventure', 'Sci-Fi']), 2.2389380530973453)
(2643, 'Superman IV: The Quest for Peace (1987)', set(['Action', 'Adventure', 'Sci-Fi']), 1.8885542168674698)
(173, 'Judge Dredd (1995)', set(['Action', 'Adventure', 'Sci-Fi']), 2.3085106382978724)
(2642, 'Superman III (1983)', set(['Action', 'Adventure', 'Sci-Fi']), 2.336594911937378)
(1882, 'Godzilla (1998)', set(['Action', 'Sci-Fi']), 2.3246492985971945)
(1499, 'Anaconda (1997)', set(['Action', 'Adventure', 'Thriller']), 2.200501253132832)
(737, 'Barb Wire (1996)', set(['Action', 'Sci-Fi']), 2.03)
(2153, 'Avengers, The (1998)', set(['Action', 'Adventure']), 1.9965277777777777)
(2986, 'Robocop 2 (1990)', set(['Action', 'Sci-Fi', 'Crime']), 2.3813387423935093)
(3354, 'Mission to Mars (2000)', set(['Sci-Fi']), 2.5952080706179066)
(880, 'Island of Dr. Moreau, The (1996)', set(['Sci-Fi', 'Thriller']), 2.200617283950617)
(2422, 'Karate Kid III, The (1989)', set(['Action', 'Drama', 'Adventure']), 2.1223776223776225)
(1831, 'Lost in Space (1998)', set(['Action', 'Sci-Fi', 'Thriller']), 2.5847076461769114)
(2412, 'Rocky V (1990)', set(['Action', 'Drama']), 2.102189781021898)
(153, 'Batman Forever (1995)', set(['Action', 'Comedy', 'Adventure', 'Crime']), 2.642213642213642)
(762, 'Striptease (1996)', set(['Comedy', 'Crime']), 2.184563758389262)
(849, 'Escape from L.A. (1996)', set(['Action', 'Adventure', 'Thriller', 'Sci-Fi']), 2.5107632093933465)
(485, 'Last Action Hero (1993)', set(['Action', 'Comedy']), 2.508)
(3238, 'Eye of the Beholder (1999)', set(['Thriller']), 2.134831460674157)
(1590, 'Event Horizon (1997)', set(['Action', 'Mystery', 'Sci-Fi', 'Thriller']), 2.5180722891566263)
(2950, 'Blue Lagoon, The (1980)', set(['Drama', 'Romance', 'Adventure']), 2.332369942196532)
(208, 'Waterworld (1995)', set(['Action', 'Adventure']), 2.6313364055299537)
(3268, 'Stop! Or My Mom Will Shoot (1992)', set(['Action', 'Comedy']), 1.782122905027933)
(519, 'Robocop 3 (1993)', set(['Sci-Fi', 'Thriller']), 1.9405940594059405)
(2555, 'Baby Geniuses (1999)', set(['Comedy']), 1.701219512195122)
(435, 'Coneheads (1993)', set(['Comedy', 'Sci-Fi']), 2.6060037523452158)
(3113, 'End of Days (1999)', set(['Action', 'Thriller']), 2.629432624113475)
(1037, 'Lawnmower Man, The (1992)', set(['Action', 'Sci-Fi', 'Thriller']), 2.6601626016260163)
(193, 'Showgirls (1995)', set(['Drama']), 2.0506912442396312)
(19, 'Ace Ventura: When Nature Calls (1995)', set(['Comedy']), 2.480719794344473)
(2616, 'Dick Tracy (1990)', set(['Action', 'Crime']), 2.6826923076923075)
(2383, 'Police Academy 6: City Under Siege (1989)', set(['Comedy']), 1.657718120805369)
(2404, 'Rambo III (1988)', set(['Action', 'War']), 2.3421926910299002)
(172, 'Johnny Mnemonic (1995)', set(['Action', 'Sci-Fi', 'Thriller']), 2.576419213973799)
(2568, 'Mod Squad, The (1999)', set(['Action', 'Crime']), 2.107476635514019)
(1779, 'Sphere (1998)', set(['Adventure', 'Thriller', 'Sci-Fi']), 2.6635859519408505)
(2380, 'Police Academy 3: Back in Training (1986)', set(['Comedy']), 2.0306122448979593)
(2381, 'Police Academy 4: Citizens on Patrol (1987)', set(['Comedy']), 1.9137931034482758)
(2808, 'Universal Soldier (1992)', set(['Action', 'Sci-Fi']), 2.512)
(1591, 'Spawn (1997)', set(['Action', 'Adventure', 'Thriller', 'Sci-Fi']), 2.6210526315789475)
(2827, "Astronaut's Wife, The (1999)", set(['Sci-Fi', 'Thriller']), 2.442073170731707)
(2382, 'Police Academy 5: Assignment: Miami Beach (1988)', set(['Comedy']), 1.7666666666666666)
(3802, 'Freejack (1992)', set(['Action', 'Sci-Fi']), 2.4177631578947367)
(420, 'Beverly Hills Cop III (1994)', set(['Action', 'Comedy']), 2.5056818181818183)
(405, 'Highlander III: The Sorcerer (1994)', set(['Action', 'Sci-Fi']), 2.123152709359606)
(1373, 'Star Trek V: The Final Frontier (1989)', set(['Action', 'Adventure', 'Sci-Fi']), 2.7487765089722673)
(2906, 'Random Hearts (1999)', set(['Drama', 'Romance']), 2.328)
(2421, 'Karate Kid, Part II, The (1986)', set(['Action', 'Drama', 'Adventure']), 2.6771488469601676)
(2798, 'Problem Child (1990)', set(['Comedy']), 1.925)
(3705, 'Bird on a Wire (1990)', set(['Action', 'Romance', 'Adventure', 'Thriller']), 2.5842105263157893)
(2471, 'Crocodile Dundee II (1988)', set(['Comedy', 'Adventure']), 2.6280193236714977)
(1391, 'Mars Attacks! (1996)', set(['Action', 'Comedy', 'Sci-Fi', 'War']), 2.9003724394785846)
(2817, 'Aces: Iron Eagle III (1992)', set(['Action', 'War']), 1.64)
(2816, 'Iron Eagle II (1988)', set(['Action', 'War']), 1.864864864864865)
(3392, 'She-Devil (1989)', set(['Comedy']), 1.9363057324840764)
(2392, 'Jack Frost (1998)', set(['Drama', 'Comedy']), 2.234146341463415)
(688, 'Operation Dumbo Drop (1995)', set(['Action', 'Comedy', 'Adventure', 'War']), 2.276995305164319)
(3243, 'Encino Man (1992)', set(['Comedy']), 2.5017064846416384)
(2126, 'Snake Eyes (1998)', set(['Action', 'Mystery', 'Thriller', 'Crime']), 2.7454545454545456)
(466, 'Hot Shots! Part Deux (1993)', set(['Action', 'Comedy', 'War']), 2.7958115183246073)
(2411, 'Rocky IV (1985)', set(['Action', 'Drama']), 2.6453333333333333)
(3285, 'Beach, The (2000)', set(['Drama', 'Adventure']), 2.702127659574468)
(2379, 'Police Academy 2: Their First Assignment (1985)', set(['Comedy']), 2.3866666666666667)
(3257, 'Bodyguard, The (1992)', set(['Action', 'Drama', 'Romance', 'Thriller']), 2.8594249201277955)
(3697, 'Predator 2 (1990)', set(['Action', 'Sci-Fi', 'Thriller']), 2.8678071539657854)
(3004, 'Bachelor, The (1999)', set(['Romance', 'Comedy']), 2.4801587301587302)
(2699, 'Arachnophobia (1990)', set(['Action', 'Comedy', 'Sci-Fi', 'Thriller']), 3.0029261155815656)
(3710, 'Action Jackson (1988)', set(['Action', 'Comedy']), 2.254054054054054)
(95, 'Broken Arrow (1996)', set(['Action', 'Thriller']), 2.876175548589342)
(1377, 'Batman Returns (1992)', set(['Action', 'Comedy', 'Adventure', 'Crime']), 2.9767216294859358)
(3190, 'Supernova (2000)', set(['Adventure', 'Sci-Fi']), 2.1490683229813663)
(2549, 'Wing Commander (1999)', set(['Action', 'Sci-Fi']), 2.2285714285714286)
(2408, 'Cocoon: The Return (1988)', set(['Comedy', 'Sci-Fi']), 2.528957528957529)
(2722, 'Deep Blue Sea (1999)', set(['Action', 'Sci-Fi', 'Thriller']), 2.8729096989966556)
(2799, 'Problem Child 2 (1991)', set(['Comedy']), 1.5555555555555556)
(784, 'Cable Guy, The (1996)', set(['Comedy']), 2.72987012987013)
(540, 'Sliver (1993)', set(['Thriller']), 2.2189349112426036)
(2369, 'Desperately Seeking Susan (1985)', set(['Romance', 'Comedy']), 2.954761904761905)
(3689, "Porky's II: The Next Day (1983)", set(['Comedy']), 2.0425531914893615)
(185, 'Net, The (1995)', set(['Sci-Fi', 'Thriller']), 2.869947275922671)
(65, 'Bio-Dome (1996)', set(['Comedy']), 2.062937062937063)
(1445, "McHale's Navy (1997)", set(['Comedy', 'War']), 2.173076923076923)
(413, 'Airheads (1994)', set(['Comedy']), 2.5306122448979593)
(2815, 'Iron Eagle (1986)', set(['Action', 'War']), 2.5940959409594098)
(2748, 'Allan Quartermain and the Lost City of Gold (1987)', set(['Action', 'Adventure']), 2.051094890510949)
(3299, 'Hanging Up (2000)', set(['Drama', 'Comedy']), 2.2954545454545454)
(2907, 'Superstar (1999)', set(['Comedy']), 2.4460093896713615)
(419, 'Beverly Hillbillies, The (1993)', set(['Comedy']), 2.1923076923076925)
(1544, 'Lost World: Jurassic Park, The (1997)', set(['Action', 'Adventure', 'Thriller', 'Sci-Fi']), 3.036653386454183)
(1100, 'Days of Thunder (1990)', set(['Action', 'Romance']), 2.807142857142857)
(2468, "Jumpin' Jack Flash (1986)", set(['Action', 'Romance', 'Comedy', 'Thriller']), 2.770053475935829)
(429, 'Cabin Boy (1994)', set(['Comedy']), 2.379679144385027)
(3688, "Porky's (1981)", set(['Comedy']), 2.734513274336283)
(2473, 'Soul Man (1986)', set(['Comedy']), 2.4093264248704664)
(66, 'Lawnmower Man 2: Beyond Cyberspace (1996)', set(['Sci-Fi', 'Thriller']), 1.6701030927835052)
(1431, 'Beverly Hills Ninja (1997)', set(['Action', 'Comedy']), 2.5474137931034484)
(2147, 'Clan of the Cave Bear, The (1986)', set(['Drama']), 2.54978354978355)
(473, 'In the Army Now (1994)', set(['Comedy', 'War']), 2.225165562913907)
(3258, 'Death Becomes Her (1992)', set(['Comedy']), 2.752212389380531)
(1091, "Weekend at Bernie's (1989)", set(['Comedy']), 2.7935656836461127)
(2723, 'Mystery Men (1999)', set(['Action', 'Comedy', 'Adventure']), 3.0105509964830013)
(2402, 'Rambo: First Blood Part II (1985)', set(['Action', 'War']), 2.825436408977556)
(234, 'Exit to Eden (1994)', set(['Comedy']), 2.2244897959183674)
(2805, 'Mickey Blue Eyes (1999)', set(['Romance', 'Comedy']), 2.8683035714285716)
(3690, "Porky's Revenge (1985)", set(['Comedy']), 2.040983606557377)
(393, 'Street Fighter (1994)', set(['Action']), 1.8571428571428572)
(3388, 'Harry and the Hendersons (1987)', set(['Comedy']), 2.7181208053691277)
(3484, 'Skulls, The (2000)', set(['Thriller']), 2.728476821192053)
(1863, 'Major League: Back to the Minors (1998)', set(['Comedy']), 2.2183098591549295)
(3325, 'Next Best Thing, The (2000)', set(['Drama', 'Comedy']), 2.33125)
(1911, 'Doctor Dolittle (1998)', set(['Comedy']), 2.9297912713472485)
(427, 'Boxing Helena (1993)', set(['Mystery', 'Romance', 'Thriller']), 2.3674698795180724)
(3821, 'Nutty Professor II: The Klumps (2000)', set(['Comedy']), 2.6411290322580645)
(1681, 'Mortal Kombat: Annihilation (1997)', set(['Action', 'Adventure']), 2.1791044776119404)
(2735, 'Golden Child, The (1986)', set(['Action', 'Comedy', 'Adventure']), 2.89760348583878)
(3764, 'F/X 2 (1992)', set(['Action', 'Thriller', 'Crime']), 2.6408163265306124)
(3646, "Big Momma's House (2000)", set(['Comedy']), 2.4444444444444446)
(2373, 'Red Sonja (1985)', set(['Action', 'Adventure']), 2.4814814814814814)
(3841, 'Air America (1990)', set(['Action', 'Comedy']), 2.7549019607843137)
(3254, "Wayne's World 2 (1993)", set(['Comedy']), 2.884526558891455)
(1894, 'Six Days Seven Nights (1998)', set(['Romance', 'Comedy', 'Adventure']), 2.910828025477707)
(1461, 'Vegas Vacation (1997)', set(['Comedy']), 2.574074074074074)
(410, 'Addams Family Values (1993)', set(['Comedy']), 2.9071274298056156)
(379, 'Timecop (1994)', set(['Action', 'Sci-Fi']), 2.889908256880734)
(3146, 'Deuce Bigalow: Male Gigolo (1999)', set(['Comedy']), 2.762987012987013)
(3248, 'Sister Act 2: Back in the Habit (1993)', set(['Comedy']), 2.5396039603960396)
(442, 'Demolition Man (1993)', set(['Action', 'Sci-Fi']), 2.9921875)
(839, 'Crow: City of Angels, The (1996)', set(['Action', 'Thriller']), 2.214814814814815)
(3717, 'Gone in 60 Seconds (2000)', set(['Action', 'Crime']), 2.9743150684931505)
(2410, 'Rocky III (1982)', set(['Action', 'Drama']), 2.8753117206982544)
(2807, 'Universal Soldier: The Return (1999)', set(['Action', 'Sci-Fi']), 1.7582417582417582)
(2375, 'Money Pit, The (1986)', set(['Comedy']), 2.8923444976076556)
(836, 'Chain Reaction (1996)', set(['Action', 'Adventure', 'Thriller']), 2.654008438818565)
(44, 'Mortal Kombat (1995)', set(['Action', 'Adventure']), 2.787781350482315)
(2532, 'Conquest of the Planet of the Apes (1972)', set(['Action', 'Sci-Fi']), 2.8435754189944134)
(415, 'Another Stakeout (1993)', set(['Comedy', 'Thriller']), 2.4804469273743015)
(2840, 'Stigmata (1999)', set(['Thriller']), 2.899761336515513)
(1503, '8 Heads in a Duffel Bag (1997)', set(['Comedy']), 2.317241379310345)
(2034, 'Black Hole, The (1979)', set(['Sci-Fi']), 2.772881355932203)
(370, 'Naked Gun 33 1/3: The Final Insult (1994)', set(['Comedy']), 2.8980582524271843)
(2792, 'Airplane II: The Sequel (1982)', set(['Comedy']), 2.9802867383512543)
(3766, 'Missing in Action (1984)', set(['Action', 'War']), 2.5392670157068062)
(3316, 'Reindeer Games (2000)', set(['Action', 'Thriller']), 2.7681660899653977)
(585, 'Brady Bunch Movie, The (1995)', set(['Comedy']), 2.9066985645933014)
(1438, "Dante's Peak (1997)", set(['Action', 'Thriller']), 2.8161993769470404)
(1513, "Romy and Michele's High School Reunion (1997)", set(['Comedy']), 3.0463576158940397)
(3824, 'Autumn in New York (2000)', set(['Drama', 'Romance']), 2.128205128205128)
(3401, 'Baby... Secret of the Lost Legend (1985)', set(['Adventure', 'Sci-Fi']), 2.106194690265487)
(818, 'Very Brady Sequel, A (1996)', set(['Comedy']), 2.560846560846561)
(3752, 'Me, Myself and Irene (2000)', set(['Comedy']), 3.0)
(2335, 'Waterboy, The (1998)', set(['Comedy']), 2.926190476190476)
(256, 'Junior (1994)', set(['Comedy', 'Sci-Fi']), 2.6513761467889907)
(3286, 'Snow Day (2000)', set(['Comedy']), 2.2131147540983607)
(3156, 'Bicentennial Man (1999)', set(['Drama', 'Comedy', 'Sci-Fi']), 2.906005221932115)
(3208, 'Loaded Weapon 1 (1993)', set(['Action', 'Comedy']), 2.7613636363636362)
(2531, 'Battle for the Planet of the Apes (1973)', set(['Action', 'Sci-Fi']), 2.8333333333333335)
(276, 'Milk Money (1994)', set(['Romance', 'Comedy']), 2.692982456140351)
(2296, 'Night at the Roxbury, A (1998)', set(['Comedy']), 2.3819444444444446)
(1515, 'Volcano (1997)', set(['Drama', 'Thriller']), 2.5580110497237567)
(2188, '54 (1998)', set(['Drama']), 2.7644787644787643)
(2794, 'European Vacation (1985)', set(['Comedy']), 2.9220779220779223)
(1676, 'Starship Troopers (1997)', set(['Action', 'War', 'Adventure', 'Sci-Fi']), 3.1332760103181427)
(2806, 'Teaching Mrs. Tingle (1999)', set(['Comedy', 'Thriller']), 2.6331658291457285)
(1752, 'Hard Rain (1998)', set(['Action', 'Thriller']), 2.6553398058252426)
(3767, 'Missing in Action 2: The Beginning (1985)', set(['Action', 'War']), 2.0865384615384617)
(1453, 'Beautician and the Beast, The (1997)', set(['Romance', 'Comedy']), 2.4324324324324325)
(692, 'Solo (1996)', set(['Action', 'Sci-Fi', 'Thriller']), 2.1132075471698113)
(3394, 'Blind Date (1987)', set(['Romance', 'Comedy']), 2.6714285714285713)
(2598, 'Pushing Tin (1999)', set(['Comedy']), 3.016885553470919)
(2961, 'Story of Us, The (1999)', set(['Drama', 'Comedy']), 2.817857142857143)
(520, 'Robin Hood: Men in Tights (1993)', set(['Comedy']), 2.93048128342246)
(2558, 'Forces of Nature (1999)', set(['Romance', 'Comedy']), 2.74468085106383)
(518, 'Road to Wellville, The (1994)', set(['Comedy']), 2.4563758389261743)
(542, 'Son in Law (1993)', set(['Comedy']), 2.674757281553398)
(2574, 'Out-of-Towners, The (1999)', set(['Comedy']), 2.6683417085427137)
(2526, 'Meteor (1979)', set(['Sci-Fi']), 2.366412213740458)
(15, 'Cutthroat Island (1995)', set(['Action', 'Romance', 'Adventure']), 2.458904109589041)
(434, 'Cliffhanger (1993)', set(['Action', 'Adventure', 'Crime']), 3.0845481049562684)
(20, 'Money Train (1995)', set(['Action']), 2.5375)
(1603, 'Mimic (1997)', set(['Sci-Fi', 'Thriller']), 2.925287356321839)
(1488, "Devil's Own, The (1997)", set(['Action', 'Drama', 'War', 'Thriller']), 2.857638888888889)
(3, 'Grumpier Old Men (1995)', set(['Romance', 'Comedy']), 3.01673640167364)

#### Для эксперимента я выбрал следующие фильмы:

In [155]:
my_movies = """
858 # 'Godfather, The (1972)' # 5
593 # 'Silence of the Lambs, The (1991)' # 5
1196 # 'Star Wars: Episode V - The Empire Strikes Back (1980)' # 4
1233 # 'Boat, The (Das Boot) (1981)' # 4
589 # 'Terminator 2: Judgment Day (1991)' # 5
1240 # 'Terminator, The (1984)' # 5
1221 # 'Godfather: Part II, The (1974)' # 5
296 # 'Pulp Fiction (1994)' # 5
1200 # 'Aliens (1986)' # 5
3578 # 'Gladiator (2000)' # 4
111 # 'Taxi Driver (1976)' # 5
2959 # 'Fight Club (1999)' # 5
608 # 'Fargo (1996)' # 4
1556 # 'Speed 2: Cruise Control (1997)' # 2
1562 # 'Batman & Robin (1997)' # 3
153 # 'Batman Forever (1995)' # 3
2404 # 'Rambo III (1988)' # 3
2808 # 'Universal Soldier (1992)' # 3
1499 # 'Anaconda (1997)' # 2
"""

Сам я отношусь к тем пользователем, которые скорее поставят положительную оценку хорошему фильму, чем низкую плохому, поэтому в ретинге у меня больше позитивных оценок, и очень мало негативных.

In [167]:
timestamp = 978300760

new_ratings_list = []
for l in my_movies.split('\n'):
    l = l.strip()
    if l:
        m_id, _, m_rating = l.split('#')
        timestamp += 1000
        new_ratings_list.append([NEW_USER_ID, int(m_id), int(m_rating), timestamp])

new_ratings_df = pd.DataFrame(new_ratings_list, columns=['user', 'movie', 'rating', 'time'])

In [166]:
ratings.append(new_ratings_df).tail(19)

    user  movie  rating       time
0   6041    858       5  978301760
1   6041    593       5  978302760
2   6041   1196       4  978303760
3   6041   1233       4  978304760
4   6041    589       5  978305760
5   6041   1240       5  978306760
6   6041   1221       5  978307760
7   6041    296       5  978308760
8   6041   1200       5  978309760
9   6041   3578       4  978310760
10  6041    111       5  978311760
11  6041   2959       5  978312760
12  6041    608       4  978313760
13  6041   1556       2  978314760
14  6041   1562       3  978315760
15  6041    153       3  978316760
16  6041   2404       3  978317760
17  6041   2808       3  978318760
18  6041   1499       2  978319760