## Numpy

Импортировать NumPy под именем np

In [2]:
import numpy as np

Создать вектор (одномерный массив) размера 10, заполненный нулями

In [3]:
np.zeros(10)

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

Создать вектор размера 10, заполненный единицами

In [4]:
np.ones(10)

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

Создать вектор размера 10, заполненный числом 2.5

In [5]:
# np.array([2.5] * 10)
np.full(10, 2.5)

array([ 2.5,  2.5,  2.5,  2.5,  2.5,  2.5,  2.5,  2.5,  2.5,  2.5])

Создать вектор размера 10, заполненный нулями, но пятый элемент равен 1

In [23]:
z = np.zeros(10)
z[4] = 1
z

array([ 0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.])

Развернуть вектор (первый становится последним)

In [12]:
x = np.array([1, 2, 3, 4, 5])
x[::-1]

array([5, 4, 3, 2, 1])

Создать матрицу (двумерный массив) 3x3 со значениями от 0 до 8

In [22]:
np.arange(9).reshape((3, 3))

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

Найти индексы ненулевых элементов в [1,2,0,0,4,0]

In [70]:
np.nonzero([1,2,0,0,4,0])

(array([0, 1, 4]),)

Создать 3x3 единичную матрицу

In [6]:
# np.identity(3)
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

Создать массив 3x3x3 со случайными значениями

In [29]:
np.random.rand(3, 3, 3)

array([[[ 0.33070332,  0.61958056,  0.17244819],
        [ 0.3411079 ,  0.4266128 ,  0.07118942],
        [ 0.4821929 ,  0.6651722 ,  0.87420111]],

       [[ 0.84958015,  0.415622  ,  0.76937087],
        [ 0.98721471,  0.91816402,  0.34353655],
        [ 0.51804746,  0.71269752,  0.74929745]],

       [[ 0.83549201,  0.37361225,  0.1352717 ],
        [ 0.25431775,  0.52905458,  0.13969939],
        [ 0.87024192,  0.39096507,  0.08842392]]])

Создать случайный вектор размера 30 и найти среднее значение всех элементов

In [9]:
# x = np.random.rand(30)
# np.average(x)
np.random.random(30).mean()

0.478689443922

0.44005361532035464

Перемножить матрицы 5x3 и 3x2

In [147]:
a = np.arange(15).reshape((5, 3))
b = np.arange(6).reshape((3, 2))
print(a)
print(b)
a.dot(b)

[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]
 [12 13 14]]
[[0 1]
 [2 3]
 [4 5]]

array([[ 10,  13],
       [ 28,  40],
       [ 46,  67],
       [ 64,  94],
       [ 82, 121]])

Создать вектор размера 10 со значениями от 0 до 1, не включая ни то, ни другое

In [12]:
# np.random.uniform(0, 1, 10)
np.linspace(0,1,12)[1:-1]

array([ 0.99803503,  0.17864917,  0.60226331,  0.6046662 ,  0.63806662,
        0.14867836,  0.64952208,  0.08947152,  0.24000058,  0.78764416])

Заменить максимальный элемент на ноль

In [13]:
x = np.array([1, 2, 6, 4, 5])
x[x.argmax()] = 0
x

array([1, 2, 0, 4, 5])

Преобразовать массив из float в int

In [14]:
x = np.array([1.5, 2.6, 3.7])
x.astype(np.int32, copy=False)

array([1, 2, 3], dtype=int32)

Дан массив (10,2) координат, найти расстояние от каждой точки до каждой

In [17]:
# Здесь я не совсем уверен что правильно понял, то что надо сделать
# coords = np.random.random((10, 2))
# print(coords)
# axes = coords[:,0], coords[:,1]
# for asix1 in axes:
#     for v1 in asix1:
#         s = np.array([v1] * 10)
#         for asix2 in axes:
#             print(np.diff([s, asix2], axis=0))
import scipy.spatial

Z = np.random.random((10,2))
D = scipy.spatial.distance.cdist(Z,Z)
print(Z)
D

[[ 0.93479984  0.71453242]
 [ 0.01401496  0.19636894]
 [ 0.9348293   0.53239419]
 [ 0.3717683   0.33839557]
 [ 0.54268438  0.89874603]
 [ 0.8003367   0.68272761]
 [ 0.3247128   0.16511063]
 [ 0.41629575  0.31972916]
 [ 0.44638115  0.66376326]
 [ 0.46592423  0.27123559]]

array([[ 0.        ,  1.05656907,  0.18213824,  0.67711406,  0.4332311 ,
         0.13817338,  0.82101796,  0.65170247,  0.49105022,  0.64525686],
       [ 1.05656907,  0.        ,  0.98021019,  0.38491429,  0.87910462,
         0.92457917,  0.31226628,  0.42077022,  0.63670871,  0.45806877],
       [ 0.18213824,  0.98021019,  0.        ,  0.59554442,  0.53664822,
         0.20171366,  0.71213717,  0.56044934,  0.50580572,  0.53672691],
       [ 0.67711406,  0.38491429,  0.59554442,  0.        ,  0.58583696,
         0.54975943,  0.17956027,  0.04828177,  0.33381314,  0.1156538 ],
       [ 0.4332311 ,  0.87910462,  0.53664822,  0.58583696,  0.        ,
         0.33622711,  0.76533163,  0.59265051,  0.2539512 ,  0.63218784],
       [ 0.13817338,  0.92457917,  0.20171366,  0.54975943,  0.33622711,
         0.        ,  0.70295478,  0.52844614,  0.35446322,  0.53024276],
       [ 0.82101796,  0.31226628,  0.71213717,  0.17956027,  0.76533163,
         0.70295478,  0.        ,  0.17970622,  0.51328124,  0.1766442 ],
       [ 0.65170247,  0.42077022,  0.56044934,  0.04828177,  0.59265051,
         0.52844614,  0.17970622,  0.        ,  0.34534707,  0.0693874 ],
       [ 0.49105022,  0.63670871,  0.50580572,  0.33381314,  0.2539512 ,
         0.35446322,  0.51328124,  0.34534707,  0.        ,  0.39301387],
       [ 0.64525686,  0.45806877,  0.53672691,  0.1156538 ,  0.63218784,
         0.53024276,  0.1766442 ,  0.0693874 ,  0.39301387,  0.        ]])

Случайно расположить p элементов в 2D массив

In [29]:
# a = np.arange(8)
# np.random.shuffle(a)
# a = a.reshape((2, 4))
# a
n = 10
p = 3
Z = np.zeros((n,n))
np.put(Z, np.random.choice(range(n*n), p, replace=False), 1)

Дан вектор [1, 2, 3, 4, 5], построить новый вектор с тремя нулями между каждым значением

In [144]:
a = np.array([1, 2, 3, 4, 5])
b = np.zeros(len(a) + (len(a) - 1) * 3)
b[::3+1] = a
b

array([ 1.,  0.,  0.,  0.,  2.,  0.,  0.,  0.,  3.,  0.,  0.,  0.,  4.,
        0.,  0.,  0.,  5.])

Найти наиболее частое значение в массиве

In [146]:
a = np.array([1, 2, 3, 1, 2, 1, 1, 1, 3, 2, 2, 1])
counts = np.bincount(a)
np.argmax(counts)

1

Найти n наибольших значений в массиве

In [28]:
n = 5
a = np.array([10, 21, 13, 1, 2, 5, 7, 81, 31, 12, 21])
# a = np.sort(a)
# print(a)
# a[-n:]
a[np.argpartition(-a, n)[:n]]

array([31, 81, 21, 21, 13])

## Pandas - изучение данных

Перейти по ссылке [Kaggle]( https://www.kaggle.com/openfoodfacts/world-food-facts)

Скачать датасет на свой компьютер и распаковать

Считать csv файл в датафрейм food

In [38]:
import pandas as pd
df = pd.read_csv('en.openfoodfacts.org.products.tsv', sep='\t')

/Users/andrewlarin/anaconda2/envs/py36/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Посмотреть первые 5 записей

In [39]:
df.head(5)

,code,url,creator,created_t,created_datetime,last_modified_t,last_modified_datetime,product_name,generic_name,quantity,...,fruits-vegetables-nuts_100g,fruits-vegetables-nuts-estimate_100g,collagen-meat-protein-ratio_100g,cocoa_100g,chlorophyl_100g,carbon-footprint_100g,nutrition-score-fr_100g,nutrition-score-uk_100g,glycemic-index_100g,water-hardness_100g
0,3087,http://world-en.openfoodfacts.org/product/0000...,openfoodfacts-contributors,1474103866,2016-09-17T09:17:46Z,1474103893,2016-09-17T09:18:13Z,Farine de blé noir,NaN,1kg,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4530,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Banana Chips Sweetened (Whole),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14.0,14.0,NaN,NaN
2,4559,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489069957,2017-03-09T14:32:37Z,1489069957,2017-03-09T14:32:37Z,Peanuts,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
3,16087,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055731,2017-03-09T10:35:31Z,1489055731,2017-03-09T10:35:31Z,Organic Salted Nut Mix,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,12.0,NaN,NaN
4,16094,http://world-en.openfoodfacts.org/product/0000...,usda-ndb-import,1489055653,2017-03-09T10:34:13Z,1489055653,2017-03-09T10:34:13Z,Organic Polenta,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Сколько наблюдений в наборе данных?

In [40]:
df.shape[0]

356027

Сколько столбцов в наборе данных?

In [41]:
df.shape[1]

163

Напечатайте все названия столбцов

In [42]:
for c in df.columns:
    print(c)

code
url
creator
created_t
created_datetime
last_modified_t
last_modified_datetime
product_name
generic_name
quantity
packaging
packaging_tags
brands
brands_tags
categories
categories_tags
categories_en
origins
origins_tags
manufacturing_places
manufacturing_places_tags
labels
labels_tags
labels_en
emb_codes
emb_codes_tags
first_packaging_code_geo
cities
cities_tags
purchase_places
stores
countries
countries_tags
countries_en
ingredients_text
allergens
allergens_en
traces
traces_tags
traces_en
serving_size
no_nutriments
additives_n
additives
additives_tags
additives_en
ingredients_from_palm_oil_n
ingredients_from_palm_oil
ingredients_from_palm_oil_tags
ingredients_that_may_be_from_palm_oil_n
ingredients_that_may_be_from_palm_oil
ingredients_that_may_be_from_palm_oil_tags
nutrition_grade_uk
nutrition_grade_fr
pnns_groups_1
pnns_groups_2
states
states_tags
states_en
main_category
main_category_en
image_url
image_small_url
energy_100g
energy-from-fat_100g
fat_100g
saturated-fat_100g
-butyric-acid_100g
-caproic-acid_100g
-caprylic-acid_100g
-capric-acid_100g
-lauric-acid_100g
-myristic-acid_100g
-palmitic-acid_100g
-stearic-acid_100g
-arachidic-acid_100g
-behenic-acid_100g
-lignoceric-acid_100g
-cerotic-acid_100g
-montanic-acid_100g
-melissic-acid_100g
monounsaturated-fat_100g
polyunsaturated-fat_100g
omega-3-fat_100g
-alpha-linolenic-acid_100g
-eicosapentaenoic-acid_100g
-docosahexaenoic-acid_100g
omega-6-fat_100g
-linoleic-acid_100g
-arachidonic-acid_100g
-gamma-linolenic-acid_100g
-dihomo-gamma-linolenic-acid_100g
omega-9-fat_100g
-oleic-acid_100g
-elaidic-acid_100g
-gondoic-acid_100g
-mead-acid_100g
-erucic-acid_100g
-nervonic-acid_100g
trans-fat_100g
cholesterol_100g
carbohydrates_100g
sugars_100g
-sucrose_100g
-glucose_100g
-fructose_100g
-lactose_100g
-maltose_100g
-maltodextrins_100g
starch_100g
polyols_100g
fiber_100g
proteins_100g
casein_100g
serum-proteins_100g
nucleotides_100g
salt_100g
sodium_100g
alcohol_100g
vitamin-a_100g
beta-carotene_100g
vitamin-d_100g
vitamin-e_100g
vitamin-k_100g
vitamin-c_100g
vitamin-b1_100g
vitamin-b2_100g
vitamin-pp_100g
vitamin-b6_100g
vitamin-b9_100g
folates_100g
vitamin-b12_100g
biotin_100g
pantothenic-acid_100g
silica_100g
bicarbonate_100g
potassium_100g
chloride_100g
calcium_100g
phosphorus_100g
iron_100g
magnesium_100g
zinc_100g
copper_100g
manganese_100g
fluoride_100g
selenium_100g
chromium_100g
molybdenum_100g
iodine_100g
caffeine_100g
taurine_100g
ph_100g
fruits-vegetables-nuts_100g
fruits-vegetables-nuts-estimate_100g
collagen-meat-protein-ratio_100g
cocoa_100g
chlorophyl_100g
carbon-footprint_100g
nutrition-score-fr_100g
nutrition-score-uk_100g
glycemic-index_100g
water-hardness_100g

Какое название у 105 столбца?

In [43]:
df.columns[104]

'-glucose_100g'

Какой тип наблюдений в 105 столбце?

In [44]:
df.dtypes[df.columns[105]]

dtype('float64')

Как проиндексирован набор данных?

In [46]:
df.index

RangeIndex(start=0, stop=356027, step=1)

Каково значение имени продукта в 19-м наблюдении?

In [50]:
df.loc[df.index.values[18]].product_name

'Lotus Organic Brown Jasmine Rice'

In [52]:
del df

## Pandas - фильтрация данных

Считать данные по  [адресу](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv). 
Присвоить переменной chipo

In [57]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep='\t')
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

Как много продуктов стоят более чем $10.00?

In [60]:
def price_to_int(price):
    return float(price[1:])
chipo_new = chipo.copy().dropna(subset=['item_price'])
chipo_new.item_price = chipo.item_price.apply(price_to_int)
chipo2 = chipo_new[chipo_new.item_price > 10.0]
len(chipo2)

1130

Какова цена каждого предмета? Напечатать столбцы item_name и item_price

In [61]:
# chipo[['item_name','item_price']]
chipo_filtered = chipo_new.sort_values(['item_name','quantity', 'item_price']).drop_duplicates(subset=['item_name','quantity'], keep='last')

chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]
price_per_item = chipo_one_prod[['item_name', 'item_price']]
price_per_item.sort_values(by='item_price', ascending=False)

                                  item_name  item_price
4313                       Steak Salad Bowl       11.89
4239                    Carnitas Salad Bowl       11.89
3546                    Barbacoa Salad Bowl       11.89
3710                       Steak Soft Tacos       11.75
4594                          Barbacoa Bowl       11.75
1632                  Carnitas Crispy Tacos       11.75
4487                       Carnitas Burrito       11.75
4593                          Carnitas Bowl       11.75
4147                    Carnitas Soft Tacos       11.75
4554                     Steak Crispy Tacos       11.75
4618                          Steak Burrito       11.75
4518                             Steak Bowl       11.75
3548                    Barbacoa Soft Tacos       11.75
2787                  Barbacoa Crispy Tacos       11.75
4592                       Barbacoa Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4468                            Veggie Bowl       11.25
4611                         Veggie Burrito       11.25
4502                     Chicken Soft Tacos       11.25
1699                      Veggie Soft Tacos       11.25
4371                   Chicken Crispy Tacos       11.25
4559                        Chicken Burrito       11.25
4590                           Chicken Bowl       11.25
4261                      Veggie Salad Bowl       11.25
1065                          Chicken Salad       10.98
3750                         Carnitas Salad        8.99
893                             Steak Salad        8.99
1653                    Veggie Crispy Tacos        8.49
4084                           Veggie Salad        8.49
521                            Crispy Tacos        7.40
760                                 Burrito        7.40
673                                    Bowl        7.40
1415                                  Salad        7.40
4535                      6 Pack Soft Drink        6.49
4616                    Chips and Guacamole        4.45
3669                                   Izze        3.39
4078                       Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
4466    Chips and Tomatillo Red Chili Salsa        2.95
4493  Chips and Tomatillo Green Chili Salsa        2.95
3780     Chips and Roasted Chili Corn Salsa        2.95
4503           Chips and Fresh Tomato Salsa        2.95
4088    Chips and Tomatillo-Red Chili Salsa        2.39
4007  Chips and Tomatillo-Green Chili Salsa        2.39
3905     Chips and Roasted Chili-Corn Salsa        2.39
4613                                  Chips        2.15
4070                          Side of Chips        1.69
4614                          Bottled Water        1.50
4609                      Canned Soft Drink        1.25
4051                            Canned Soda        1.09

Отсортировать по имени предмета

In [62]:
chipo.sort_values(by='item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],$12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],$6.49
1849,749,1,6 Pack Soft Drink,[Coke],$6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],$6.49
2713,1076,1,6 Pack Soft Drink,[Coke],$6.49
3422,1373,1,6 Pack Soft Drink,[Coke],$6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],$6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],$6.49
1922,776,1,6 Pack Soft Drink,[Coke],$6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],$6.49
3836,1537,1,6 Pack Soft Drink,[Coke],$6.49
298,129,1,6 Pack Soft Drink,[Sprite],$6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],$6.49
1167,481,1,6 Pack Soft Drink,[Coke],$6.49
3875,1554,1,6 Pack Soft Drink,[Diet Coke],$6.49
1124,465,1,6 Pack Soft Drink,[Coke],$6.49
3886,1558,1,6 Pack Soft Drink,[Diet Coke],$6.49
2108,849,1,6 Pack Soft Drink,[Coke],$6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],$6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],$6.49
4169,1664,1,6 Pack Soft Drink,[Diet Coke],$6.49
4174,1666,1,6 Pack Soft Drink,[Coke],$6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],$6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],$6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],$6.49
2389,949,1,6 Pack Soft Drink,[Coke],$6.49
3132,1248,1,6 Pack Soft Drink,[Diet Coke],$6.49
3141,1253,1,6 Pack Soft Drink,[Lemonade],$6.49
639,264,1,6 Pack Soft Drink,[Diet Coke],$6.49
1026,422,1,6 Pack Soft Drink,[Sprite],$6.49
...,...,...,...,...,...
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",$8.49
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",$8.49
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",$11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",$8.75
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",$8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",$8.75
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$8.75
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25
3889,1559,2,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",$16.98
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",$8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",$8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",$8.49

Сколько было заказано самого дорогого предмета?

In [64]:
max_price = chipo_new.sort_values(by='item_price').item_price.max()
chipo_new[chipo_new.item_price == max_price]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

Сколько раз был заказан предмет "Veggie Salad Bowl"?

In [65]:
chipo[chipo.item_name == 'Veggie Salad Bowl'].shape[0]

18

Сколько раз люди заказали более чем 1 предмет "Canned Soda"?

In [66]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20