### Исследование результатов предсказаний

Для того, чтобы лучше разобраться, что происходит, я написал скрипты, которые сравнивают получившиеся предсказания и помогаю понять по какой логике действуют алгоритмы.

In [1]:
def mismatch(a, b):
    return [(x1, x2) for x1, x2 in zip(a, b) if x1[1] != x2[1]]

In [2]:
def read(ds):
    with open(ds) as f:
        r = [tuple([int(s) for s in l.split(',') if s != '']) for l in f.read().split('\n')[1:] if l]
    return r

In [3]:
def print_mismatch(a, b):
    m = mismatch(a, b)
    print(len(m))
    for r in m:
        print('{}-{}'.format(r[0], r[1]))

In [4]:
def survived(a):
    survived = 0
    not_survived = 0
    for i in a:
        if i[1] == 0:
            not_survived += 1
        else:
            survived += 1
    return survived, not_survived, len(a)

In [5]:
def print_survived(a):
    s = survived(a)
    p = s[2] / 100
    print('survived:', s[0], ', percent:', s[0] / p, '|', 
          'not_survived:', s[1], ', percent:', s[1] / p, '|', 
          'total:', s[2]
         )

In [6]:
lr = read('sample_submission_lr.csv')

In [7]:
knn = read('sample_submission_knn.csv')

In [8]:
gbc = read('sample_submission_gbc.csv')

In [9]:
rf = read('sample_submission_rf.csv')

#### Посмотрим как алгоритмы распределили количество выживших и погибших:

#### Logit survived:

In [10]:
print_survived(lr)

survived: 146 , percent: 34.928229665071775 | not_survived: 272 , percent: 65.07177033492823 | total: 418

#### kNN survived:

In [11]:
print_survived(knn)

survived: 130 , percent: 31.100478468899524 | not_survived: 288 , percent: 68.89952153110049 | total: 418

#### Gradient Boosting survived:

In [12]:
print_survived(gbc)

survived: 156 , percent: 37.32057416267943 | not_survived: 262 , percent: 62.67942583732058 | total: 418

#### Random Forest survived:

In [13]:
print_survived(rf)

survived: 141 , percent: 33.73205741626794 | not_survived: 277 , percent: 66.26794258373207 | total: 418

Самым "миролюбивым" оказался Gradient Boosting, а самым "кровожадным" kNN, впрочем, он и самый неточный. Причем, распределение выживших/погибших у Gradient Boosting наиболее близкое к тренировочному датасету.

#### Gradient Boosting and Logit:

In [14]:
print_mismatch(gbc, lr)

18
(911, 0)-(911, 1)
(913, 1)-(913, 0)
(924, 1)-(924, 0)
(925, 1)-(925, 0)
(941, 1)-(941, 0)
(967, 0)-(967, 1)
(972, 1)-(972, 0)
(1019, 1)-(1019, 0)
(1045, 1)-(1045, 0)
(1053, 1)-(1053, 0)
(1084, 1)-(1084, 0)
(1093, 1)-(1093, 0)
(1173, 1)-(1173, 0)
(1199, 1)-(1199, 0)
(1268, 1)-(1268, 0)
(1282, 0)-(1282, 1)
(1284, 1)-(1284, 0)
(1295, 0)-(1295, 1)

#### Random Forest and Logit:

In [15]:
print_mismatch(rf, lr)

19
(896, 0)-(896, 1)
(911, 0)-(911, 1)
(913, 1)-(913, 0)
(967, 0)-(967, 1)
(972, 1)-(972, 0)
(996, 0)-(996, 1)
(1019, 1)-(1019, 0)
(1051, 0)-(1051, 1)
(1053, 1)-(1053, 0)
(1057, 0)-(1057, 1)
(1093, 1)-(1093, 0)
(1117, 0)-(1117, 1)
(1173, 1)-(1173, 0)
(1199, 1)-(1199, 0)
(1205, 0)-(1205, 1)
(1225, 0)-(1225, 1)
(1239, 0)-(1239, 1)
(1282, 0)-(1282, 1)
(1295, 0)-(1295, 1)

#### Gradient Boosting and Random Forest:

In [16]:
print_mismatch(gbc, rf)

15
(896, 1)-(896, 0)
(924, 1)-(924, 0)
(925, 1)-(925, 0)
(941, 1)-(941, 0)
(996, 1)-(996, 0)
(1045, 1)-(1045, 0)
(1051, 1)-(1051, 0)
(1057, 1)-(1057, 0)
(1084, 1)-(1084, 0)
(1117, 1)-(1117, 0)
(1205, 1)-(1205, 0)
(1225, 1)-(1225, 0)
(1239, 1)-(1239, 0)
(1268, 1)-(1268, 0)
(1284, 1)-(1284, 0)

#### KNN and Logit:

In [17]:
print_mismatch(knn, lr)

70
(895, 1)-(895, 0)
(896, 0)-(896, 1)
(898, 0)-(898, 1)
(900, 0)-(900, 1)
(910, 0)-(910, 1)
(911, 0)-(911, 1)
(913, 1)-(913, 0)
(920, 1)-(920, 0)
(928, 0)-(928, 1)
(929, 0)-(929, 1)
(931, 1)-(931, 0)
(933, 1)-(933, 0)
(958, 0)-(958, 1)
(960, 1)-(960, 0)
(962, 0)-(962, 1)
(967, 0)-(967, 1)
(971, 0)-(971, 1)
(972, 1)-(972, 0)
(973, 1)-(973, 0)
(979, 0)-(979, 1)
(980, 0)-(980, 1)
(982, 0)-(982, 1)
(986, 1)-(986, 0)
(990, 0)-(990, 1)
(996, 0)-(996, 1)
(1003, 0)-(1003, 1)
(1005, 0)-(1005, 1)
(1019, 1)-(1019, 0)
(1036, 1)-(1036, 0)
(1040, 1)-(1040, 0)
(1050, 1)-(1050, 0)
(1052, 0)-(1052, 1)
(1053, 1)-(1053, 0)
(1057, 0)-(1057, 1)
(1063, 1)-(1063, 0)
(1083, 1)-(1083, 0)
(1089, 0)-(1089, 1)
(1091, 0)-(1091, 1)
(1092, 0)-(1092, 1)
(1093, 1)-(1093, 0)
(1097, 1)-(1097, 0)
(1098, 0)-(1098, 1)
(1108, 0)-(1108, 1)
(1117, 0)-(1117, 1)
(1119, 0)-(1119, 1)
(1141, 0)-(1141, 1)
(1160, 0)-(1160, 1)
(1172, 0)-(1172, 1)
(1173, 1)-(1173, 0)
(1174, 0)-(1174, 1)
(1183, 0)-(1183, 1)
(1196, 0)-(1196, 1)
(1199, 1)-(1199, 0)
(1205, 0)-(1205, 1)
(1210, 1)-(1210, 0)
(1215, 1)-(1215, 0)
(1223, 1)-(1223, 0)
(1225, 0)-(1225, 1)
(1226, 1)-(1226, 0)
(1227, 1)-(1227, 0)
(1239, 0)-(1239, 1)
(1255, 1)-(1255, 0)
(1259, 0)-(1259, 1)
(1274, 0)-(1274, 1)
(1275, 0)-(1275, 1)
(1282, 0)-(1282, 1)
(1284, 1)-(1284, 0)
(1295, 0)-(1295, 1)
(1300, 0)-(1300, 1)
(1302, 0)-(1302, 1)

Наиболее интресные различия между Gradient Boosting и Random Forest, там где первый считает пассажира выжившим, второй - погибшим. Посмотрим, что это за пассажиры:

In [18]:
import pandas as pd

In [19]:
df_test = pd.read_csv('test.csv')

In [20]:
p_ids = []
for m in mismatch(gbc, rf):
    p_ids.append(m[0][0])

In [21]:
df_test[df_test['PassengerId'].isin(p_ids)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.0,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.0,0,2,C.A. 37671,15.9000,NaN,S
104,996,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.0,1,1,2625,8.5167,NaN,C
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.0,0,2,350405,12.1833,NaN,S
159,1051,3,"Peacock, Mrs. Benjamin (Edith Nile)",female,26.0,0,2,SOTON/O.Q. 3101315,13.7750,NaN,S
165,1057,3,"Kink-Heilmann, Mrs. Anton (Luise Heilmann)",female,26.0,1,1,315153,22.0250,NaN,S
192,1084,3,"van Billiard, Master. Walter John",male,11.5,1,1,A/5. 851,14.5000,NaN,S
225,1117,3,"Moubarek, Mrs. George (Omine Amenia"" Alexander)""",female,NaN,0,2,2661,15.2458,NaN,C
313,1205,3,"Carr, Miss. Jeannie",female,37.0,0,0,368364,7.7500,NaN,Q
333,1225,3,"Nakid, Mrs. Said (Waika Mary"" Mowad)""",female,19.0,1,1,2653,15.7417,NaN,C
347,1239,3,"Whabee, Mrs. George Joseph (Shawneene Abi-Saab)",female,38.0,0,0,2688,7.2292,NaN,C
376,1268,3,"Kink, Miss. Maria",female,22.0,2,0,315152,8.6625,NaN,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S

Как видно, Gradient Boosting больше учитывает влияние класса и пола пассажира, а также возраста в сочетании с ними. Интересно, что будет если сравнить Gradient Boosting с логистической регрессией:

In [22]:
p_ids = []
for m in mismatch(gbc, lr):
    if m[0][1] == 1:
        p_ids.append(m[0][0])

In [23]:
df_test[df_test['PassengerId'].isin(p_ids)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
21,913,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,NaN,S
32,924,3,"Dean, Mrs. Bertram (Eva Georgetta Light)",female,33.00,1,2,C.A. 2315,20.5750,NaN,S
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
49,941,3,"Coutts, Mrs. William (Winnie Minnie"" Treanor)""",female,36.00,0,2,C.A. 37671,15.9000,NaN,S
80,972,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,NaN,C
127,1019,3,"McCoy, Miss. Alicia",female,NaN,2,0,367226,23.2500,NaN,Q
153,1045,3,"Klasen, Mrs. (Hulda Kristina Eugenia Lofqvist)",female,36.00,0,2,350405,12.1833,NaN,S
161,1053,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,NaN,C
192,1084,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,NaN,S
201,1093,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,NaN,S
281,1173,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
307,1199,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,NaN,S
376,1268,3,"Kink, Miss. Maria",female,22.00,2,0,315152,8.6625,NaN,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.00,0,2,C.A. 2673,20.2500,NaN,S

In [24]:
p_ids = []
for m in mismatch(gbc, lr):
    if m[0][1] == 0:
        p_ids.append(m[0][0])

In [25]:
df_test[df_test['PassengerId'].isin(p_ids)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.225,NaN,C
75,967,1,"Keeping, Mr. Edwin",male,32.5,0,0,113503,211.500,C132,C
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.500,B24,S
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.100,NaN,S

Как видно, Gradient Boosting и в данном случае больше учитывает влияние класса и возраста, а логичтическая регрессия, возможно, также принимает в рассчет признак Fare, который Gradient Boosting не учитывает как слишком искажающий результат.